:root {
    --light-color: #e8C7C8;
    --medium-color: rgb(102, 2, 97);
    --dark-color: #00004d;
}
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/light-clouds.jpeg);
    color: var(--dark-color);
    font-family: Noto Sans, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed;
}

h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: var(--medium-color);
}

nav a:focus {
    color: var(--medium-color);
    border-color: rgb(167, 6, 145);
}

.work-cards {
    display: flex;
    flex-wrap: wrap; 
}

.card {
    border-style: dotted;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

#project-1 {
    background-image: url(../images/single-clouds.jpeg);
}

input {
    display: block;
    margin-bottom: 10px;
    width: 250px;
    padding: 12px 20px;
}

#message {
    width: 40%;
    padding-bottom: 150px;
}

footer {
    background: var(--dark-color);
    margin-top: 20px;
    padding: 20px;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
    header {
      flex-direction: column;
    }
}
  