/* Set most common colours as variables */
:root {
    --light-color: #e8C7C8;
    --medium-color: rgb(102, 2, 97);
    --dark-color: #00004d;
}

* {
    box-sizing: border-box;

  }

  /* Set structure of page, background and default font colour */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--dark-color);
}

/* Header bar */
/* Layout header with heading & nav items sitting in the center of row and set space between them */ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background: var(--dark-color);
}

/* Headings throughout page */

/* Set font for headings, nav, field labels and about me paragraph text to Caveat */
h1, h2, h3, nav, #about-me-container p, label, .footer-item {
    font-family: 'Poppins';
}

/* Set h1 heading to have a light colour (it's on a dark background), large font and be positioned on the left size */
h1 {
    font-size: 40px;
    margin-left: 20px;
    color: var(--light-color);
}

#welcome-message {
    font-size: 80px;
    text-align: center;
}

/* Set font size of h2 headings to be larger than the default */
h2 {
    font-size: 40px;
}

/* Navigation items */

nav {
    width: 40%;
}

/* Set nav items to sit nicely side-by-side and without bullet list*/
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* Remove underline of nav items (links to anchors) and change font size/colour */
nav a, a  {
    text-decoration: none;
    font-size: 130%;
    color: var(--light-color);
}

/* Set line underneath nav item when hovering (using border-bottom) */
nav a:hover {
    border-bottom: 10px solid;
    border-color: var(--medium-color);
}

/* Change colour of line underneath nav item when it's being clicked or pressed */
nav a:focus {
    border-bottom: 10px solid;
    border-color: white;
}

/* Set line underneath nav item after it's been clicked (using border-bottom) */
nav a:active {
    border-bottom: 10px solid;
    border-color: var(--dark-color);
}

/* About me section */
#about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    min-height: 100%;
}

#about-me-container p {
    font-size: 180%;
    width: 50%;
}

/* Convert photo into a circle */
#portrait-image {
    border-radius: 50%;
    width: 30%;
    flex: 0 0 50px;
    padding: 50px;

}

/* Work section */

#work-container {
    display: flex;
    justify-content: space-evenly;
  }

#work-header {
    padding: 30px;
    text-align: center;
}

.work-sections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

/* Individual cards layout and styling */

.work-card {
    background: whitesmoke;
    padding: 80px;
    border: 10px;
    box-shadow: 10px 10px 10px #aaaaaa;
    min-width: 40%;
}

.work-card h3 {
    background-image: linear-gradient(to right, var(--dark-color), var(--medium-color));
    color: white;
    padding: 20px;
}

.site-images {
    max-width: 500px;
    align-content: center;
    display: block;
}

.button { 
    background-color: var(--medium-color);
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    border-radius: 8px;
}

/* Actions on work cards */
.work-card:hover {
    border-left: 10px solid;
    border-color: var(--medium-color);
}

.work-card:active {
    border-left: 10px solid;
    border-color: var(--dark-color);
}

.work-card:focus {
    border-left: 10px solid;
    border-color: white;
}



/* Footer */
footer {
    background: var(--dark-color);
    flex: 0 0 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
}

footer a {
    color: var(--light-color);
    text-decoration: none;
    align-content: center;
    padding: 20px;
    font-size: 200%;
    
}

@media screen and (max-width: 992px) {
    header, #work-container {
      flex-direction: column;
    }

    header {
        height: 200px;
        justify-content: center;
    }

    h1, h2, h3 {
        font-size: 300%;
    }

    h3 {
        font-size: 300%;
    }
    
    li {
       font-size: 150%; 
    }

    nav {
        width: 80%;
    }

    #portrait-image {
        width: 60%;
        padding: 0px;
    }
}